@{
    ViewData["Title"] = "Home - Index";
}


<div class="container">
    <div class="jumbotron">
        <h1>This is Part Management Service - Home</h1>
    </div>
    <h3>
        <ul>
            <li>Manage Inflow and Outflow for Parts</li>
            <br />
            <li>Warehouse can generate request for Parts to Receiving</li>
            <br />
            <li>Warehouse can redirect Parts to Production-WorkOrder</li>
            <br />
            <li>Warehouse can redirect Parts to Assembly Department</li>
            <br />
            <li>Receiving can receive Parts for Warehouse Orders</li>
            <br />            
        </ul>
    </h3>
</div>

